extends template/default.pug

block append head
  title Graybeard

block content
  div.mt-20.text-center
    figure
      img(src="/images/spokesperson.jpg", alt="Spokesperson").m-auto
      figcaption.text-3xl.uppercase.text-red-500 Get off my lawn

